---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SOCIALS } from '../consts';
import Twitter from './icons/Twitter.astro';
import { Github } from './icons';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="flex">
			<a href={SOCIALS.X.url} target="_blank">
				<span class="sr-only">{SOCIALS.X.alt}</span>
        <Twitter/>
			</a>
			<a href={SOCIALS.GITHUB.url} target="_blank">
				<span class="sr-only">{SOCIALS.GITHUB.alt}</span>
				<Github/>
			</a>
		</div>
	</nav>
</header>
<style>
	
</style>
