---
import NavLink from './NavLink.astro';
import { SITE_TITLE, SOCIALS } from '~/lib/consts';
import { Github, Twitter } from '~/components/icons';
---

<header>
	<nav class="flex justify-between items-center pb-2">
		<h2 class="text-2xl font-extrabold text-white">
      <a href="/">
        <span class="text-yellow-300">{SITE_TITLE[0]}</span>
        {SITE_TITLE.slice(1)}
      </a>
    </h2>
		<div class="grid grid-flow-col gap-1">
			<NavLink href="/">Home</NavLink>
			<NavLink href="/blog">Blog</NavLink>
		</div>
		<div class="hidden sm:flex">
			<a href={SOCIALS.X.url} target="_blank">
				<span class="sr-only">{SOCIALS.X.alt}</span>
        <Twitter size="24"/>
			</a>
			<a href={SOCIALS.GITHUB.url} target="_blank">
				<span class="sr-only">{SOCIALS.GITHUB.alt}</span>
				<Github size="24"/>
			</a>
		</div>
	</nav>
</header>
<style>
	
</style>