---
import type { CollectionEntry } from 'astro:content';
import { Html, Footer, FormattedDate, Head, Navigation } from '~/components';


type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, draft, tags } = Astro.props;
---

<Html>
  <Head title={title} description={description} />
	<body>
    <main class="px-3">
      <Navigation />
			<article class="prose prose-invert lg:prose-xl mx-auto">
				<div>
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div>
					<div>
						<div>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div>
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="gradient">{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</Html>
